# Cypress specific files/directories
node_modules/
.cypress/
.cy/
*.log
 
screenshots
# Cypress generated videos, screenshots, and other artifacts
cypress/screenshots/
cypress/videos/
 
# Cypress cache
.cypress_cache/
 
# Project related files
Test_realated_docs/
# Dependency directories
# Remove the comments below if you want to include them
# /node_modules/
# /bower_components/